langchain==0.3.27
langchain-community==0.3.31
langchain-openai==0.3.28
langchain-text-splitters==0.3.11
openai==2.54.0
pypdf==6.16.1
python-dotenv==1.1.1
gradio==5.50.0
httpx==0.28.1
llama-index==0.14.23
llama-index-core==0.14.23
llama-index-embeddings-openai==0.6.0
llama-index-llms-openai==0.7.10
